# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Entornos virtuales
env/
venv/
ENV/
VENV/

# VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos de configuración local
*.env